<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link href="/show/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/show/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="/show/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fashion Mania Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- start menu -->
<link href="/show/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/show/js/memenu.js"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>
<script src="/show/js/simpleCart.min.js"> </script>
<!-- slide -->
<script src="/show/js/responsiveslides.min.js"></script>
   <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
	<style type="text/css">
		a{
			text-decoration: none;
			cursor: pointer;
		}
	</style>
</head>
<body>
<!--header-->
<div class="header">
	<div class="header-top">
		<div class="container">

				<div class="col-sm-4 logo">
					<a href="index.html"><img src="/js/show/images/logo.png" alt=""></a>
				</div>
		
			<div class="col-sm-4 header-left">		

					<div class="cart box_1">
						<a href="/exp/qingkon">
						<h3> <div class="total">
							<span class="simpleCart_total"></span></div>
							<img src="/js/show/images/cart.png" alt=""/></h3>
						</a>
						<p><a onclick="updateAll()" class="simpleCart_empty">清空购物车</a></p>

					</div>
					<div class="clearfix"> </div>
			</div>
			<div class="col-sm-4 header-left">

					<div class="cart box_1">

						<a href="/tree/twoshow">我是管理员</a>

						<button type="button" onclick="tuichu()" class="navbar-btn btn btn-danger glyphicon glyphicon-off"></button>

					</div>
					<div class="clearfix"> </div>
			</div>
				<div class="clearfix"> </div>
		</div>
		</div>
		<div class="container">
			<div class="head-top">
				<div class="col-sm-2 number">
					<span><i class="glyphicon glyphicon-phone"></i>10086</span>
				</div>
		 <div class="col-sm-8 h_menu4">
				<ul class="memenu skyblue">
					  <li class=" grid"><a  href="">主页</a></li>
				      <li><a  href="#">所有分类</a>
				      	<div class="mepanel">
						<div class="row">
							<div class="col1">
								<div class="h_nav" >
									<h4>All Clothing</h4>
									<ul id="top2">


									</ul>	
								</div>							
							</div>
						  </div>
						</div>
					</li>
			  </ul> 
			</div>
				<div class="col-sm-2 search">		
			<a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i class="glyphicon glyphicon-search"> </i> </a>
		</div>
		<div class="clearfix"> </div>
			<!---pop-up-box---->
					  <script type="text/javascript" src="/show/js/modernizr.custom.min.js"></script>
					<link href="/show/css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
					<script src="/show/js/jquery.magnific-popup.js" type="text/javascript"></script>
					<!---//pop-up-box---->
				<div id="small-dialog" class="mfp-hide">
				<div class="search-top">
						<div class="login">
							<input type="submit" value="">
							<input type="text" value="Type something..." onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '';}">		
						</div>
						<p>	Shopping</p>
					</div>				
				</div>
				 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
				</script>			
	<!---->		
		</div>
	</div>
</div>
<!--banner-->
<div class="banner">
	<div class="col-sm-3 banner-mat">
		<img class="img-responsive"	src="/show/images/ba1.jpg" alt="">
	</div>
	<div class="col-sm-6 matter-banner">
	 	<div class="slider">
	    	<div class="callbacks_container">
	      		<ul class="rslides" id="slider">
	        		<li>
	          			<img src="/show/images/1.jpg" alt="">
	       			 </li>
			 		 <li>
	          			<img src="/show/images/2.jpg" alt="">
	       			 </li>
					 <li>
	          			<img src="/show/images/1.jpg" alt="">
	        		</li>	
	      		</ul>
	 	 	</div>
		</div>
	</div>
	<div class="col-sm-3 banner-mat">
		<img class="img-responsive" src="/show/images/ba.jpg" alt="">
	</div>
	<div class="clearfix"> </div>
</div>
<!--content-->
<div class="content">
	<div class="container">
		<div class="content-top">
			<h1>热门商品</h1>
			<div class="content-top1" id="top1">

			</div>	
		</div>
	</div>
</div>



<div class="footer-bottom">
	<div class="container">
      <p class="footer-class">联系我们：10086 <br>  <a target="_blank" >本网站最终解释权归五组所有</a></p>
	</div>
</div>




<script>

function queryClass(id){



	 $.ajax({
		 url:"/exp/queryTwo",
		 type:"post",
		 data:{id:id},
		 success:function(data){

			 var html = "";

			 for ( var i in data) {

				 html+="<div class=\"col-md-3 col-md2\">"
				 html+='<div class="col-md1 simpleCart_shelfItem">'
				 html+='<a href="javascript:queryGoodsById('+data[i].comparyId+')">'
				 html+='<img class="img-responsive" src="'+data[i].fileName+'" alt="" />'
                 html+='</a>'
				 html+='<h3><a href="javascript:queryGoodsById('+data[i].comparyId+')">'+data[i].comparyName+'</a></h3>'
				 html+='<div class="price">'
				 html+='<h5 class="item_price">$'+data[i].comparyPrice+'</h5>'
				 html+='<a onclick="addPayMoney('+data[i].comparyId+')" class="item_add">下单</a>'
				 html+='<div class="clearfix"> </div>'
				 html+='</div>'
				 html+='</div>'
				 html+='</div>'

			 }
			 html+='<div class="clearfix"> </div>'
			 $("#top1").html(html)

		 }
	 });




}

//清空购物车
function updateAll(){


	location.href="/exp/updateAll"



}


function  tuichu() {
	location.href="/logout";
}








//加入订单
function addPayMoney(comparyId){



	location.href="/exp/addPayMoney?comparyId="+comparyId
	alert("成功")
}





//查询商品
	$(function () {
		queryClass(-1)
	 $.ajax({
		 url:"/exp/queryClass",
		 type:"post",
		 success:function(data){

			 var html = "";
              html+='<li><a  onclick = "queryClass(-1)">全部商品</a></li>'
			 for ( var i in data) {


               html+='<li><a  onclick = "queryClass('+data[i].id+')">'+data[i].text+'</a></li>'


			 }

			 $("#top2").html(html)

		 }
	 });



 })

function queryGoodsById(comparyId){

location.href="/exp/queryGoodsById?comparyId="+comparyId

}






</script>

</body>
</html>