<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>检索</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/jd/css/css.css">
    <script>


    </script>
</head>
<body>
<div class="top">
    <div class="top_text">
        <a href="">用户登录</a>
        <a href="">用户注册</a>
        <a href="">供应商登录</a>
        <a href="">供应商注册</a>
    </div>
</div>
<div class="top_img">
    <img src="/jd/images/top_img.jpg" alt="">
</div>
<div class="search">
    <div class="logo"><img src="/jd/images/1234.jpg" width="200px" height="100px" alt=""></div>
    <div class="search_on">
        <div class="se">
            <input type="text" name="search" class="lf">
            <input type="submit" class="" value="搜索">
        </div>
    </div>
</div>
<!--获取页面商品名字-->
<div id="clas">
    <h3 id="h1"></h3>
    <span>&gt;</span>
    <h5 id="h2"></h5>
    <span>&gt;</span>
</div>
<hr>
<span>品牌:</span>
<div id="div1">
</div><br>

<div id="div2">
    <hr>
</div>
<div class="Sbox" id="aa">

</div>

</body>
<script type="text/javascript" >

    $(function () {
        function getQueryString(name) {
            var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
            var r = window.location.search.substr(1).match(reg);
            if (r != null) {
                return decodeURI(r[2]);
            }
            return null;
        }
        var id = getQueryString("id1");
        var ms = getQueryString("id2");
        $("#h1").html(getQueryString("name1"))
        $("#h2").html(getQueryString("name2"))
        //====查询品牌
        queryPai(id);
        //====查询属性
        queryShu(ms);
        //====商品展示
        productShow(id)
    })
    //====查询品牌
    function queryPai(id){
        $.ajax({
            url:"/attr/queryPai?id="+id,
            type:"post",

            success:function(result){
                var count="";
                $.each(result, function(index,pp){
                    count+="<a href='####'>"+pp.ppmch+"</a>";
                    count+='<img width="100" height="40" data-lazy-img="done"  src="'+pp.url+'">'
                });
                //往品牌div赋值
                $("#div1").html(count);
            },
            error:function(){

                alert("出错了!!!!");
            }
        })

    }
    //====根据二连id。查询属性
    function queryShu(ms){
        alert(ms)
        $.ajax({
            url:"/attr/getAttr?id="+ms,
            type:"post",
            success:function(result){
                console.log(result);
                var cont="";
                $.each(result,function (index,obj) {
                    cont += "<div class='list'>";
                    cont+="<span>"+obj.shxm_mch+" : </span>";
                    $.each(obj.shuxingzhi,function (index,ob) {
                        cont+='<a href="###">'+ob+'&nbsp;&nbsp;</a>';
                    })
                    cont += "</div>"
                })

                $("#div2").html(cont);

            },
            error: function(){
                alert("出错了!!!!");
            }
        });
    }

    function  productShow(id){
        $.ajax({
            url:"/attr/queryAll?id="+id,
            type:"post",
            success:function(result){
                // console.log(result)
                var content="";
                $.each(result,function (index,obj) {
                    console.log(obj)
                    content='<div class="list"   onclick="alert(11)">'
                    content+="<div class='img'><img src="+obj.shp_tp+" width='200px' height='160px' ></div>"
                    content+="<div style='color: red '>"+obj.shp_mch+"</div>"

                    content+="<div class='title'>"+obj.shuxing+"&nbsp;"+obj.shuNum+""+obj.shuzhi+"</div>"

                    content+="<div class='title'>库存"+obj.kc+"</div>"

                    content+="<div class='price'>￥"+obj.jg+"元</div>"
                    content+='</div>'
                    $("#aa").append(content)
                })
            },
            error: function(){
                alert("出错了!!!!");
            }
        });
    }
</script>



</html>
