<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="/jd/css/css.css">
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/show/js/memenu.js"></script>
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
    <script src="/show/js/simpleCart.min.js"> </script>
    <!-- slide -->
    <script src="/show/js/responsiveslides.min.js"></script>
    <style type="text/css">
        a{
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<script type="text/javascript">
    $(function(){
        queryLeftLi();
        getImgs(flog);
        queryTitle();
        getCookie();
    })
    //获取后台存入的cookie的账号

    function getCookie(){

        //之前是在服务器操作cookie  现在在浏览器操作cookie
        var str = document.cookie.split("=");


        $("#zhanghao").html(str[1])

    }



    //动画效果
  function aaaaaa(){
      $('.nav_mini ul li').hover(function(){
          $(this).find('.two_nav').show(100);
      },function(){
          $(this).find('.two_nav').hide(100);
      })
  }
  //首页左侧菜单
    function queryLeftLi(){
        $.ajax({
            url:"/left/showLeft",
            type : "POST",
            success : function(classs) {

                var coun = "";
                $.each(classs, function (index, obj) {

                    coun += "<li>";
                    coun += "<a href=''>"+obj.flmch1+"</a>";
                    coun += "<div class='two_nav' style='display: none;'>"+obj.class2+"</div>";
                    coun += "</li>";

                })
                $("#left_ul").append(coun);
                //动画效果
                aaaaaa();
            },
            error : function() {
                alert("ajax访问失败了,查看控制台");
            }
        });
    }

    //查询  title
    function queryTitle(){
        $.ajax({
            url:"/title/queryTitle",
            type : "POST",
            success : function(title) {

                var titlecount = "";
                $.each(title, function (index, obj) {

                    titlecount += " <li><a href='"+obj.href+"'>"+obj.name+"</a></li>";

                })
                $("#title").append(titlecount);

            },
            error : function() {
                alert("ajax访问失败了,查看控制台");
            }
        });
    }
    //注销登录
   function zhuxiao(){
       $.ajax({
           url:"/login/remove",
           type : "POST",
           success : function(title) {
          location.reload()
           },
           error : function() {
               alert("ajax访问失败了,查看控制台");
           }
       });

   }
</script>
<body >
<a  th:if="${session.user} != null">
    <font color="blue">欢迎</font> <font id="zhanghao" color="red"></font><font color="blue">用户登录</font>
    <a href="javascript:zhuxiao()">注销</a>
</a>

<!--  账号  -->
<div class="top">

    <div class="top_text">

          <a href="/login/tologin"  th:if="${session.user} == null">
               <font id="zhanghao" color="red"></font>用户请登录
          </a>

        <a href="">用户注册</a>
        <a href="">供应商登录</a>
        <a href="">供应商注册</a>
    </div>
</div>
<div class="top_img">
    <img src="//image5.suning.cn/uimg/cms/img/154823272581126812.png" >
</div>
<div class="search">
    <div class="logo"><img src="/jd/images/1fed08d41af49eb5.gif" width="140" height="150"></div>
    <div class="search_on">
        <div class="se">
            <input type="text" name="search" class="lf">
            <input type="submit" class="clik" value="搜索">
        </div>
        <div class="se">
            <a href="">取暖神奇</a>
            <a href="">1元秒杀</a>
            <a href="">吹风机</a>
            <a href="">玉兰油</a>
        </div>
    </div>
    <div class="card">
        <a href="">购物车<div class="num">3</div></a>
        <!--&lt;!&ndash;购物车商品&ndash;&gt;
        <div class="cart_pro">
            <h6>最新加入的商品</h6>
            <div class="one">
                <img src="/jd/images/lec1.png"/>
                <span class="one_name">
						商品名称商品名称商品名称商品名称
					</span>
                <span class="one_prece">
						<b>￥20000</b><br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;删除
					</span>
            </div>

            <div class="one border">
                <img src="/jd/images/lec1.png"/>
                <span class="one_name">
						商品名称商品名称商品名称商品名称
					</span>
                <span class="one_prece">
						<b>￥20000</b><br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;删除
					</span>
            </div>
            <div class="one border">
                <img src="/jd/images/lec1.png"/>
                <span class="one_name">
						商品名称商品名称商品名称商品名称
					</span>
                <span class="one_prece">
						<b>￥20000</b><br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;删除
					</span>
            </div>

            <div class="gobottom">
                共<span>2</span>件商品&nbsp;&nbsp;&nbsp;&nbsp;
                共计￥<span>20000</span>
                <button class="goprice">去购物车</button>
            </div>


        </div>-->
    </div>


</div>
<div class="menu">
    <div class="nav">
        <div class="navs">
            <div class="left_nav">
                全部商品分类
                <div class="nav_mini">
                    <ul id="left_ul">
                    </ul>
                </div>
            </div>
            <ul id="title">

            </ul>
        </div>
    </div>
</div>
<div class="banner" style="background: url(/img/haizei.jpg);">
    <div class="ban">
        <img src="/jd/images/banner.jpg" width="980" height="380" alt="">
    </div>
</div>
<div class="banner">
    <div class="ban" id='slider'>

    </div>
</div>

</body>
<script>
    var mydate=new Date();
    var myddy=mydate.getDay();//获取存储当前日期
    var weekday=["星期日","星期一","星期二","星期三","星期四","星期五","星期六"];
    //document.write("今天是：" + weekday[myddy]);
    var flog=weekday[myddy];

        function getImgs(flog){
            $.ajax({
                url:"/view/getImgs?flog="+flog,
                type : "POST",
                success : function(backList) {
                    console.log(backList);
                    var coun = "";
                    $.each(backList, function (index, obj) {
                        //拼接属性名字
                        coun+="  <img src="+obj.name+" width='700' height='395' alt=''>"
                    })
                    $("#slider").html(coun);
                    $("#slider").responsiveSlides({
                        auto: true,
                        speed: 200,
                        namespace: "callbacks",
                        pager: true,
                    });
                },
                error : function() {
                    alert("ajax访问失败了,查看控制台");
                }
            });
        }
</script>
</html>

